<!DOCTYPE html>
<html>
<head><title>Stats</title></head>
<body>
<h1>Stats for <%= link.code %></h1>
<p>Short URL: <%= baseUrl %>/<%= link.code %></p>
<p>Target URL: <%= link.targetUrl %></p>
<p>Total Clicks: <%= link.totalClicks %></p>
<p>Last Clicked: <%= link.lastClicked %></p>
</body>
</html>
